<h2>Books Library</h2>

<%=link_to "back to books",books_path%>
<hr>

<h3>Book details</h3>
<ul>
    <p> <b>Title</b>: <%=@book.title%> </p>
    <p> <b>Author</b>: <%=@book.author%> </p>
    <p> <b>Genre</b>: <%=@book.genre%> </p>
    <p> <b>Published Date</b>: <%=@book.published_date%> </p>
</ul>

<%=link_to "Edit", edit_book_path(@book)%>
<%=link_to "Delete", book_path(@book), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure"
}
%>

